<div class="row info">
  <div class="col s12 m5">
    <div class="card-panel blue-grey">
      <span class="white-text">
          <h5>Name: <%=@user.name%>'s Page</h5>
          <h5>Email: <%=@user.email%></h5>
          <h6>Total number of posts: <%=@user.ideas.length%></h6>
          <h6>Total number of likes: <%=@user.likes.length%></h6>
          <h6>Keep Sharing and Liking Ideas!</h6>
      </span>
    </div>
  </div>
</div>
